//var sauna = {id: 1, resurssinnimi: 'Sauna', kayttoaikaalkaa: '16:00', kayttoaikapaattyy: '23:00', varausyksikko: 60, hinta: 2.10 };
//var pyykkitupa = {id: 2, resurssinnimi: 'Pyykkitupa', kayttoaikalkaa: '06:00', kayttoaikapaattyy: '23:00', varausyksikko: 60, hinta: 1.85 };
//- var resurssit = []


h1 Resurssit

table
	tr
		th Id
		th Resurssin nimi
		th Käyttöaika alkaa
		th Käyttöaika päättyy
		th Varausyksikkö
		th Hinta
	each resurssi in resurssit
		tr
			td #{resurssi.id}
			td #{resurssi.resurssinnimi}
			td #{resurssi.kayttoaikaalkaa}
			td #{resurssi.kayttoaikapaattyy}
			td #{resurssi.varausyksikko}
			td #{resurssi.hinta}