//- var sauna = {id: 1, resurssinnimi: 'Sauna', kayttoaikaalkaa: '16:00', kayttoaikapaattyy: '23:00', varausyksikko: 60, hinta: 2.10 };
//- var pyykkitupa = {id: 2, resurssinnimi: 'Pyykkitupa', kayttoaikaalkaa: '06:00', kayttoaikapaattyy: '23:00', varausyksikko: 60, hinta: 1.85 };
//- var resurssit = [sauna, pyykkitupa]
html
	include head.pug
	body
		div(class='container')
			h1 Resurssit
			form
				table(class='table')
					tr
						th Resurssin nimi
						th Käyttöaika alkaa
						th Käyttöaika päättyy
						th Varausyksikkö
						th Hinta
						th Muokkaa
						th Poista
					each resurssi in resurssit
						tr
							td #{resurssi.resurssinnimi}
							td #{resurssi.kayttoaikaalkaa}
							td #{resurssi.kayttoaikapaattyy}
							td #{resurssi.varausyksikko}
							td #{resurssi.hinta}
							td
								button(type='submit' name='id' value=resurssi.id formaction='/muokkaaresurssia' formmethod='get') Muokkaa
							td
								button(type='submit' name='id' value=resurssi.id formaction='/poistaresurssi' formmethod='post') Poista